.inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./assets/fondo-inicio.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.inicio .image {
  animation: fadeInBottom 1s ease 0s 1 normal forwards;
}

@keyframes fadeInBottom {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.inicio .image img {
  width: 40vw;
  animation: float 3s linear infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(-3.5rem);
  }
}

.inicio .content {
  animation: fadeInLeft 1s ease 0s 1 normal forwards;
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.inicio .content h3 {
  font-size: 5.5rem;
  color: #333;
  text-transform: uppercase;
}

.inicio .content span {
  font-size: 4rem;
  color: var(--limon);
  text-transform: uppercase;
}

.inicio .content p {
  font-size: 1.7rem;
  color: #666;
  padding: 1rem 0;
}

@media (max-width:820px) {
  .inicio {
    flex-flow: column-reverse;
  }

  .inicio .image img {
    width: 100%;
  }

  .inicio .content h3 {
    font-size: 3.6rem;
  }

  .inicio .content p {
    font-size: 1.5rem;
  }
}